#botonIngresar
{
    background-color: #062c33;
    color: white;
    width: 130px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    left: 700px;
    top: -45px;
    position: relative;
    border: 2px solid darkblue;
    border-radius: 5px;
}
#botonIngresar:hover
{
    background-color: #6c757d;
    color: darkgreen;
}

#botonCursos
{
    background-color: #062c33;
    color: white;
    width: 130px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    left: 970px;
    top: -85px;
    position: relative;
    border: 2px solid darkblue;
    border-radius: 5px;
}
#botonCursos:hover
{
    background-color: #6c757d;
    color: darkgreen;
}

.formularioAlumno
{
    display: block;
    width: 300px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: solid;
    margin: auto;
    top: 100px;
    position: relative;
}

/*Botones de form_modificar*/
#botonGuardarEdicion
{
    background-color: #062c33;
    color: #0069d9;
    width: 120px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    left: -55px;
    top: 30px;
    position: relative;
    border: 2px solid darkblue;
    border-radius: 5px;
}
#botonGuardarEdicion:hover
{
    background-color: #6c757d;
}

#botonCancelarEdicion
{
    background-color: #062c33;
    color: white;
    width: 120px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    left: 80px;
    top: -25px;
    position: relative;
    border: 2px solid darkblue;
    border-radius: 5px;
}
#botonCancelarEdicion:hover
{
    background-color: #6c757d;
}

#botonBuscar
{
    background-color: #062c33;
    color: #0069d9;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: center;
    left: 630px;
    top: -85px;
    position: relative;
    border: 2px solid darkblue;
    border-radius: 5px;
}
#botonBuscar:hover
{
    background-color: #6c757d;
}

